@use '../../../../styles/index' as *

.formField
    display: flex
    flex-direction: column

.label
    display: block

    margin-bottom: $space-8

    color: $color-text-muted
    font-size: $font-size-12
    font-weight: $font-weight-bold
    letter-spacing: $letter-spacing-normal
    text-transform: uppercase

.hint
    margin: $space-4 0 0

    color: $color-text-muted
    font-size: $font-size-12
    line-height: $line-height-normal
