<div class="info">

    <h1>
        {{ restaurantInfo()?.name }}
    </h1>

    <p>
        {{ restaurantInfo()?.cuisine?.join(' • ') }}
    </p>


    <div class="rating-container">

        <div class="rating">

            <fa-icon [icon]="faStar" />

            {{ restaurantInfo()?.rating?.average }}

        </div>

        <span>
            {{ restaurantInfo()?.rating?.totalReviews }}
            reviews
        </span>

    </div>


    <div class="meta">

        <span class="address">

            <fa-icon [icon]="faLocationDot" />

            {{ restaurantInfo()?.location?.address }}

        </span>


        <span class="time">

            <fa-icon [icon]="faClock" />

            <div class="container">

                <div class="status">

                    @if (isOpenNow()) {

                    <span class="open">
                        Open Now
                    </span>

                    - Closes at
                    {{ restaurantInfo()?.hours?.close }}:00

                    } @else {

                    <span class="close">
                        Closed
                    </span>

                    - Opens at
                    {{ restaurantInfo()?.hours?.open }}:00

                    }

                </div>


                <span class="dot">
                    &#x2022;
                </span>


                {{ restaurantInfo()?.delivery?.estimatedTime }}
                min


                <span class="dot">
                    &#x2022;
                </span>


                {{ distance }} km

            </div>

        </span>


        <span class="price">

            &#x20B9;{{ restaurantInfo()?.pricing?.priceForTwo }}

            for Two

        </span>


        @if (restaurantInfo()?.offer) {

        <span class="offer">

            <fa-icon [icon]="faExclamationCircle" />

            {{ restaurantInfo()?.offer }}

        </span>

        }

    </div>

</div>