@use '../../../../styles/index' as *

.info
    display: flex
    flex-direction: column
    gap: 4px
    background: $color-bg-white
    height: 290px
    h1
        font-size: 32px
        font-weight: 700
        color: $color-text-primary

    p
        color: $color-text-secondary

    .rating-container
        display: flex
        align-items: center
        gap: 8px
        font-size: 16px
        color: $color-text-secondary
        .rating
            gap: 4px
            background: $color-success
            color: $color-bg-white
            padding: 4px 8px
            border-radius: $radius-4

    .meta
        display: flex
        flex-direction: column
        gap: 12px
        color: $color-text-secondary
        font-weight: 500
        font-size: 16px
        .address
            display: flex
            gap: 8px
            font-weight: 400

        .time
            display: flex
            gap: 8px
            .container
                display: flex
                gap: 18px
                font-weight: 400
                .status
                    display: flex
                    gap: 8px
                    font-weight: 400
                    .open
                        color: $color-success
                        font-weight: 600
                    .close
                        color: $color-error
                        font-weight: 600
        .price
            font-size: 14px
        .offer
            display: flex
            align-items: center
            gap: 8px
            border: $border-width-2 $border-style-solid $color-border-primary
            background: $color-bg-orange-overlay
            padding: 14px 8px
            border-radius: $radius-12
            font-size: 16px
            color: $color-primary
            font-weight: 600
