@use '../../../../styles/index' as *

.sectionCard
    overflow: hidden

    border: $border-width-1 $border-style-solid $color-border-light
    border-radius: $radius-16

    background: $color-bg-white
    box-shadow: $shadow-xs

.header
    padding: $space-16 $space-24

    border-bottom: $border-width-1 $border-style-solid $color-border-light

    background: $color-bg-gray

.header h2
    margin: 0

    color: $color-text-primary
    font-size: $font-size-14
    font-weight: $font-weight-bold

.content
    padding: $space-24
