@use '../../styles/index' as *

.dashboard
    display: flex

    width: 100%
    min-height: 100vh

    background: $color-bg-gray

.content
    flex: 1

    min-width: 0
    min-height: 100vh

    padding: $space-32

    overflow-y: auto
