@use '../../../../styles/index' as *

.menu-wrapper
    display: flex
    position: relative
    .sidebar
        width: 250px
        border-right: $border-width-1 $border-style-solid #eee
        background: $color-bg-white
        .sidebar-box
            position: sticky
            top: 340px
            padding-top: 8px

            button
                width: 100%
                text-align: left
                padding: 16px 12px
                border: $border-style-none
                border-right: $border-width-2 $border-style-solid transparent
                background: transparent
                cursor: pointer
                transition: 0.2s
                font-size: $font-size-16
                font-weight: $font-weight-light

                &.active
                    border-color: $color-primary
                    background: $gradient-menu-active
                    color: $color-primary
                    font-weight: $font-weight-semibold

    .content
        flex: 1
        height: 100%
        padding: 20px

        .category-section
            padding: 6px 0px
            margin-bottom: 20px

            h2
                font-size: $font-size-16
                font-weight: $font-weight-medium
                margin-bottom: 12px

            .item
                display: flex
                justify-content: space-between
                gap: 16px
                background: #fff
                border-radius: $radius-12

                .right
                    flex: 1

                    .header
                        margin-bottom: 4px
                        display: flex
                        align-items: center
                        gap: 8px
                        h3
                            font-size: $font-size-18
                            font-weight: $font-weight-semibold
                        .type
                            width: 16px
                            height: 100%
                            aspect-ratio: 1/1
                            border-width: $border-width-2
                            border-style: $border-style-solid
                            padding: 2px
                            .circle
                                width: 100%
                                height: 100%
                                aspect-ratio: 1/1
                                border-radius: $radius-pill
                            &.veg
                                border-color: $color-success
                                .circle
                                    background: $color-success
                            &.non-veg
                                border-color: #ea580c
                                .circle
                                    background: #ea580c
                    p
                        font-size: $font-size-14
                        color: $color-text-secondary
                        margin-bottom: 6px

                    span
                        width: 100%
                        text-align: right
                        font-weight: $font-weight-semibold
                        color: $color-text-primary

                .left
                    width: 120px
                    position: relative

                    img
                        width: 100%
                        height: 100px
                        object-fit: cover
                        border-radius: $radius-10

                    .controls
                        position: absolute
                        bottom: 12px
                        left: 50%
                        transform: translateX(-50%)

                        button
                            border: $border-style-none
                            background: transparent
                            cursor: pointer
                            color: $color-primary
                            font-size: $font-size-14
                        .qty-box
                            background: $color-bg-white
                            border: $border-width-1 $border-style-solid $color-primary
                            border-radius: $radius-6
                            font-size: $font-size-14
                            display: flex
                            align-items: center
                            gap: 4px
                            .btn
                                width: 28px
                                height: 28px
                                border-radius: $radius-6
                                font-size: $font-size-14
                            span
                                font-size: $font-size-16

                        .add-btn
                            padding: 4px 12px
                            background: $color-bg-white
                            border: $border-width-1 $border-style-solid $color-primary
                            border-radius: $radius-6
                            color: $color-primary
                            cursor: pointer
                            font-weight: $font-weight-semibold
                            font-size: $font-size-16
