<div class="menu-wrapper">

    @if (loading()) {

    <!-- SIDEBAR SKELETON -->
    <aside class="sidebar">

        <div class="sidebar-box skeleton-sidebar">

            @for (item of skeletonCategories; track $index) {
            <div class="skeleton skeleton-category"></div>
            }

        </div>

    </aside>


    <!-- CONTENT SKELETON -->
    <main class="content">

        @for (category of skeletonCategories; track $index) {

        <section class="category-section skeleton-section">

            <div class="skeleton skeleton-title"></div>

            @for (item of skeletonItems; track $index) {

            <article class="item skeleton-item">

                <div class="left">

                    <div class="skeleton skeleton-image"></div>

                </div>


                <div class="right">

                    <div class="skeleton skeleton-item-title"></div>

                    <div class="skeleton skeleton-description"></div>

                    <div class="skeleton skeleton-price"></div>

                </div>

            </article>

            }

        </section>

        }

    </main>


    } @else {

    <!-- ACTUAL MENU -->

    <aside class="sidebar">

        <div class="sidebar-box">

            @for (
            category of menu()?.categories ?? [];
            track category.name;
            let i = $index
            ) {

            <button type="button" [class.active]="activeCategory() === i" (click)="scrollToCategory(i)">

                <span class="name">
                    {{ category.name }}
                </span>

                <span class="count">
                    ({{ category.items.length }})
                </span>

            </button>

            }

        </div>

    </aside>


    <main class="content">

        @for (
        category of menu()?.categories ?? [];
        track category.name;
        let i = $index
        ) {

        <section class="category-section" #categorySection>

            <h2>
                {{ category.name }}
            </h2>


            @for (
            item of category.items;
            track item._id
            ) {

            @if (item.isAvailable) {

            <article class="item">

                <div class="left">

                    <img [src]="item.image" [alt]="item.name" loading="lazy" />

                    <div class="controls">

                        @if (
                        getItemQuantity(item._id) > 0
                        ) {

                        <div class="qty-box">

                            <button type="button" class="btn" (click)="updateQuantity(
                                                        item._id,
                                                        getItemQuantity(item._id),
                                                        false
                                                    )">

                                <fa-icon [icon]="faMinus" />

                            </button>

                            <span>
                                {{ getItemQuantity(item._id) }}
                            </span>

                            <button type="button" class="btn" (click)="updateQuantity(
                                                        item._id,
                                                        getItemQuantity(item._id),
                                                        true
                                                    )">

                                <fa-icon [icon]="faPlus" />

                            </button>

                        </div>

                        } @else {

                        <button type="button" class="add-btn" (click)="addToCart(item)">

                            ADD

                        </button>

                        }

                    </div>

                </div>


                <div class="right">

                    <div class="header">

                        <div class="type" [ngClass]="{
                                                'veg': item.foodType === 'veg',
                                                'egg': item.foodType === 'egg',
                                                'non_veg': item.foodType === 'non_veg'
                                            }">

                            <div class="circle"></div>

                        </div>

                        <h3>
                            {{ item.name }}
                        </h3>

                    </div>


                    @if (item.description) {

                    <p>
                        {{ item.description }}
                    </p>

                    }

                    <span>
                        ₹{{ item.price }}
                    </span>

                </div>

            </article>

            }

            }

        </section>

        }

        <div class="space"></div>

    </main>

    }

</div>