@use '../../../styles/index' as *

.cart-page
    min-height: 100vh
    padding: 8px 16px
    max-width: 1200px
    margin: 0 auto
    display: flex
    gap: 20px


    .items
        height: 100%
        flex: 3
        background: $color-bg-white
        padding: 20px
        box-shadow: $shadow-sm
        border-radius: $radius-8

        h2
            font-weight: $font-weight-semibold
            margin-bottom: 16px

        .item
            display: flex
            gap: 16px
            &:not(:last-child)
                padding-bottom: 20px
                margin-bottom: 20px
                border-bottom: $border-width-1 $border-style-solid #eee

            img
                width: 80px
                height: 80px
                object-fit: cover
                border-radius: $radius-8

            .details
                flex: 1

                h3
                    font-weight: $font-weight-semibold
                    font-size: $font-size-18
                p
                    font-weight: $font-weight-medium
                    font-size: $font-size-16
                    color: $color-text-secondary

            .actions
                display: flex
                flex-direction: column
                align-items: flex-end
                gap: 8px
                button
                    border: $border-style-none
                    background: transparent
                    cursor: pointer
                    color: $color-primary
                    font-size: $font-size-14

                .qty-box
                    background: $color-bg-white
                    border: $border-width-1 $border-style-solid $color-primary
                    border-radius: $radius-4
                    font-size: $font-size-14
                    display: flex
                    align-items: center
                    gap: 4px
                    margin-bottom: 8px
                    .btn
                        width: 28px
                        height: 28px
                        border-radius: $radius-4
                        font-size: $font-size-14
                    span
                        font-size: $font-size-16

    .billing-section
        flex: 2
        height: 100%
        .bill
            height: auto
            background: $color-bg-white
            padding: 20px
            border-radius: $radius-8
            box-shadow: $shadow-sm
            margin-bottom: 24px

            h3
                font-weight: $font-weight-semibold
                margin-bottom: 10px
                font-size: $font-size-24
            .row
                display: flex
                justify-content: space-between
                margin-bottom: 6px
                font-size: $font-size-16
                font-weight: $font-weight-regular
                color: $color-text-secondary
                &.discount
                    color: $color-success
                    font-weight: $font-weight-medium
                    font-size: $font-size-14
                    fa-icon
                        font-size: $font-size-14

            .total
                display: flex
                justify-content: space-between
                font-weight: bold
                font-size: $font-size-18
                margin-top: 18px
                border-top: $border-width-1 $border-style-solid $color-border-light
                padding-top: 12px
                font-weight: $font-weight-semibold

            .savings
                margin-top: 8px
                font-size: $font-size-14
                color: $color-success
                font-weight: $font-weight-medium
            .checkout
                width: 100%
                margin-top: 20px
                padding: 12px
                background: $color-primary
                color: $color-bg-white
                border-radius: $radius-4
                font-size: $font-size-18
                border: $border-style-none
                font-weight: $font-weight-semibold
                cursor: pointer

    .empty-cart
        text-align: center
        padding: 100px 20px

        h2
            font-size: $font-size-24

        button
            margin-top: 20px
            background: $color-primary
            color: $color-bg-white
            padding: 10px 20px
            border-radius: $radius-4
