@use '../../../../styles/index' as *

.modal-overlay
    position: fixed
    inset: 0
    background: $color-overlay-black-subtle
    display: flex
    justify-content: center
    align-items: center
    z-index: $z-modal
    width: 100%

    .modal-content
        width: 100%
        max-width: 4$space-80
        border-radius: $radius-16
