<div class="filter-bar">

    <!-- Open all filters -->
    <button type="button" class="filter-button" (click)="openFilters()">

        <svg lucideFunnel class="icon" aria-hidden="true"></svg>

        Filters

    </button>


    <!-- Pure Veg -->
    <button type="button" class="filter-chip" [class.active]="isVegSelected()" (click)="toggleVeg()">

        <span>
            Pure Veg
        </span>

        @if (isVegSelected()) {
        <svg lucideX class="icon" aria-hidden="true"></svg>
        }

    </button>


    <!-- Sort By -->
    <div class="sort-control">

        <button type="button" class="sort-button" (click)="toggleSortDropdown()"
            [attr.aria-expanded]="showSortDropdown()">
            <span class="sort-label">
                Sort by
            </span>

            <span class="sort-value">
                {{ currentSortLabel() }}
            </span>

            <svg lucideChevronDown class="icon" aria-hidden="true"></svg>
        </button>


        @if (showSortDropdown()) {

        <div class="sort-dropdown">

            <div class="sort-options">

                @for (option of sortOptions; track option.value) {

                <button type="button" class="sort-option" [class.selected]="currentSort() === option.value"
                    (click)="selectSort(option.value)">

                    <span>
                        {{ option.label }}
                    </span>

                    @if (currentSort() === option.value) {
                    <svg lucideCheck class="icon" aria-hidden="true"></svg>
                    }

                </button>

                }

            </div>

        </div>

        }

    </div>


    <!-- Active filters -->
    @for (
    filter of activeFilters();
    track filter.key
    ) {

    <button type="button" class="filter-chip" (click)="remove(filter.key)">

        <span>
            {{ filter.label }}
        </span>

        <svg lucideX class="icon" aria-hidden="true"></svg>

    </button>

    }

</div>