@use '../../../../styles/index' as *

.categoryFilter
    display: flex
    align-items: center
    flex-wrap: wrap

    gap: $space-8

.filterButton
    display: inline-flex
    align-items: center
    gap: $space-4

    min-height: $space-32

    padding: $space-4 $space-12

    border: $border-width-1 $border-style-solid $color-border
    border-radius: $radius-8

    background: $color-bg-white
    color: $color-text-muted

    font-family: inherit
    font-size: $font-size-14
    font-weight: $font-weight-medium

    cursor: pointer

    transition: $transition-background, $transition-border, $transition-color

    &:hover
        background: $color-bg-gray
        color: $color-text-primary

.active
    border-color: transparent

    background: $color-primary
    color: $color-text-white

    &:hover
        background: $color-primary-hover
        color: $color-text-white

.count
    font-size: $font-size-12

.active
    .count
        opacity: 0.7
