@use '../../../../styles/index' as *

.restaurant-section
    max-width: 1200px
    margin: 0 auto
    padding:$space-16
    h2
        font-size: $font-size-24
        font-weight: $font-weight-bold
        margin-bottom:$space-24
        color: $color-text-primary

    .restaurant-grid
        display: grid
        grid-template-columns: 1fr
        gap:$space-24

        @media (min-width: 768px)
            grid-template-columns: repeat(2, 1fr)

        @media (min-width: 1024px)
            grid-template-columns: repeat(3, 1fr)

        @media (min-width: 12$space-80)
            grid-template-columns: repeat(4, 1fr)
