<section class="restaurant-section" aria-labelledby="restaurant-list-title">
    <div class="container">

        <h2 id="restaurant-list-title">
            {{ heading() }}
        </h2>

        @if (restaurants().length) {

        <ul class="restaurant-grid">
            @for ( restaurant of restaurants(); track restaurant._id ) {
            <li>
                <app-restaurant-card [restaurant]="restaurant" [city]="city()"></app-restaurant-card>
            </li>
            }
        </ul>

        } @else {

        <p class="empty-state">
            No restaurants found.
        </p>

        }

    </div>
</section>