@use '../../../styles/index' as *

.modal-overlay
    position: fixed
    inset: 0
    background: $color-overlay-black-subtle
    display: flex
    justify-content: center
    align-items: center
    z-index: $z-modal
    width: 100%

    .auth-card
        width: 100%
        max-width: 480px
        border-radius: $radius-16
        background: $color-bg-white
        border-radius: $radius-16
        padding: 32px
        box-shadow: 0 10px 30px rgba(0, 0, 0, .05)

        .header
            text-align: center
            margin-bottom: 32px
            .icon-wrapper
                width: 64px
                height: 64px
                margin: 0 auto 16px
                display: flex
                align-items: center
                justify-content: center
                background: $color-primary-light
                border-radius: $radius-pill

                fa-icon
                    color: $color-primary
                    font-size: $font-size-28

            .title
                font-size: $font-size-28
                font-weight: $font-weight-semibold
                color: $color-text-primary

            .subtitle
                color: $color-text-secondary
                font-size: $font-size-16
                button
                    background: none
                    border: $border-style-none
                    color: $color-primary
                    font-weight: $font-weight-medium
                    cursor: pointer
                    padding: 0
                    width: auto
                    margin-left: 6px
        .form
            display: flex
            flex-direction: column
            margin-bottom: 8px
            gap: 8px

            label
                font-size: $font-size-14
                font-weight: $font-weight-medium
                color: $color-text-secondary
                display: block

            .phone-input
                display: flex
                gap: 8px
                margin-bottom: 12px

                .country-code
                    width: 64px
                    display: flex
                    align-items: center
                    justify-content: center
                    border: $border-width-1 $border-style-solid $color-border
                    border-radius: $radius-8
                    background: $color-bg-white
                    font-weight: $font-weight-medium
                    color: $color-text-secondary

                input
                    width: 100%
                    padding: 10px 12px
                    border-radius: $radius-8
                    border: $border-width-1 $border-style-solid $color-border
                    font-size: $font-size-14
                    background-color: #f0f0f0
                    &:focus
                        outline: none
                        border-color: $color-text-muted
                        box-shadow: 0 0 0 2px rgba(0,0,0, 0.1)
            .input
                margin-bottom: 8px
                input
                    width: 100%
                    padding: 10px 12px
                    border-radius: $radius-8
                    border: $border-width-1 $border-style-solid $color-border
                    font-size: $font-size-14
                    background-color: #f0f0f0
                    &:focus
                        outline: none
                        border-color: $color-text-muted
                        box-shadow: 0 0 0 2px rgba(0,0,0, 0.1)

            .otp-container
                display: flex
                justify-content: space-between
                gap: 8px
                margin-bottom: 10px

                input
                    width: 48px
                    height: 52px
                    text-align: center
                    font-size: $font-size-20
                    border-radius: $radius-6
                    border: $border-width-1 $border-style-solid $color-border
                    &:focus
                        outline: none
                        border-color: $color-text-muted
                        box-shadow: 0 0 0 2px rgba(0,0,0, 0.1)
                    &.filled
                        border-width: $border-width-2
                        border-color: $color-success
            button
                width: 100%
                border: $border-style-none
                border-radius: $radius-10
                padding: 14px
                font-weight: $font-weight-semibold
                cursor: pointer
                background: $color-primary
                color: $color-bg-white
                transition: background 0.2s ease
                &:hover
                    background: $color-primary-hover

                &:disabled
                    background: $color-border
                    cursor: default

            .resend
                display: flex
                align-items: center
                justify-content: center
                font-size: $font-size-14
                color: $color-text-secondary
                font-weight: $font-weight-regular
                gap: 8px
                button
                    width: auto
                    background: none
                    border: $border-style-none
                    font-size: $font-size-14
                    font-weight: $font-weight-semibold
                    color: $color-primary
                    cursor: pointer
                    padding: 0
                    &:disabled
                        color: $color-text-muted

        .terms
            text-align: center
            font-size: $font-size-14
            font-weight: $font-weight-regular
            color: $color-text-muted
