// ============================================================
// FEASTO DESIGN TOKENS — BORDERS
// ============================================================

$border-width-0-5: .5px
$border-width-1: 1px
$border-width-1-5: 1.5px
$border-width-2: 2px
$border-width-3: 3px

$border-style-solid: solid
$border-style-none: none
