<div class="page">

    @if (loading()) {

    <p>Loading...</p>

    } @else if (error()) {

    <p>{{ error() }}</p>

    } @else if (restaurant(); as restaurant) {

    @if (showCarousel()) {
    <app-image-carousel [images]="restaurant.images" />
    }

    <div class="details">

        <app-restaurant-info [restaurantInfo]="restaurantInfo()!" />

    </div>

    }

    <div class="tabs">

        <button routerLink="order" (click)="setTab('order')" [class.active]="activeTab() === 'order'">
            Order
        </button>

        <button routerLink="reviews" (click)="setTab('reviews')" [class.active]="activeTab() === 'reviews'">
            Reviews
        </button>

        <button routerLink="cart">
            Cart ({{ cartCount }})
        </button>

    </div>

    <router-outlet />

</div>