@use '../../../../../styles/index' as *

.ads-skeleton
    width: 100%
    max-width: $container-xl
    margin: 0 auto
    padding: $space-16

    .banner
        width: 100%
        height: 220px

        margin-bottom: $space-12

        border-radius: $radius-12

@media (min-width: $breakpoint-md)
    .ads-skeleton
        .banner
            height: 240px

@media (min-width: $breakpoint-lg)
    .ads-skeleton
        padding: $space-16
        .banner
            height: 260px
@media (mx-width: $breakpoint-xs)
    .ads-skeleton
        .banner
            padding: $space-12
            height: 180px
