@use '../../../../styles/index' as *

.button
    display: inline-flex
    align-items: center
    justify-content: center
    gap: $space-8

    border: $border-style-none
    border-radius: $radius-8

    font-weight: $font-weight-semibold
    text-decoration: none
    white-space: nowrap

    cursor: pointer

    transition: $transition-background, $transition-color, $transition-border, $transition-shadow, $transition-transform

    &:disabled
        opacity: .6
        cursor: not-allowed

    &:focus-visible
        outline: none
        box-shadow: $shadow-focus

.button-sm
    min-height: 32px
    padding: $space-4 $space-12

    font-size: $font-size-14

.button-md
    min-height: 40px
    padding: $space-8 $space-16

    font-size: $font-size-16

.button-lg
    min-height: 48px
    padding: $space-12 $space-24

    font-size: $font-size-18

.button-primary
    background: $color-primary
    color: $color-text-white

    &:hover:not(:disabled)
        background: $color-primary-hover

.button-secondary
    background: $color-bg-black
    color: $color-text-white

    &:hover:not(:disabled)
        background: $color-bg-black-hover

.button-outline
    background: transparent
    border: $border-width-1 $border-style-solid $color-primary
    color: $color-primary

    &:hover:not(:disabled)
        background: $color-primary-light

.button-ghost
    background: transparent
    color: $color-text-primary

    &:hover:not(:disabled)
        background: $color-bg-gray

.button-danger
    background: $color-error
    color: $color-text-white

    &:hover:not(:disabled)
        background: $color-error-bright

.button-icon
    width: 40px
    height: 40px
    padding: 0

    border-radius: $radius-circle
    background: transparent

    color: $color-text-primary

    &:hover:not(:disabled)
        background: $color-bg-gray
