@use '../../../../styles/index' as *

.coupon
    background: $color-bg-white
    padding: 20px
    border-radius: $radius-8
    box-shadow: 0 4px 10px rgba(0,0,0,0.05)
    .header
        font-weight: 600
        margin-bottom: 10px
        h3
            font-size: 18px
            fa-icon
                color: $color-primary
    .applied
        display: flex
        justify-content: space-between
        background: $color-bg-green-overlay
        border: $border-width-1 $border-style-solid $color-success
        padding: 10px
        border-radius: $radius-8

        .code
            color: $color-success
            font-size: 16px
            font-weight: 600

        .desc
            font-size: 12px
            font-weight: 500
            color: $color-success

        button
            color: $color-error
            font-size: 14px
            font-weight: 600
            border: $border-style-none
            background: transparent
            cursor: pointer

    .input
        display: flex
        gap: 10px
        margin-bottom: 10px

        input
            flex: 1
            padding: 8px
            border-radius: $radius-6
            border: $border-width-1 $border-style-solid $color-border
            font-size: 14px
            background-color: #f0f0f0
            &:focus
                outline: none
                border-color: $color-text-muted

        button
            cursor: pointer
            background: $color-primary
            color: $color-bg-white
            padding: 8px 12px
            border: $border-style-none
            border-radius: $radius-6

    .toggle
        color: $color-primary
        font-size: 14px
        font-weight: 600
        border: $border-style-none
        background: transparent
        cursor: pointer

    .list
        max-height: 380px
        overflow-y: scroll
        margin-top: 10px
        display: flex
        flex-direction: column
        gap: 10px
        .item
            display: flex
            justify-content: space-between
            border: $border-width-1 $border-style-solid #eee
            padding: 10px
            border-radius: $radius-8

            &.disabled
                opacity: 0.5

            .code
                font-size: 16px
                font-weight: 600

            .desc
                font-size: 12px
                font-weight: 500
                color: $color-text-secondary

            .warn
                font-size: 12px
                color: $color-error
            button
                color: $color-primary
                font-size: 14px
                font-weight: 600
                border: $border-style-none
                background: transparent
                cursor: pointer
