@use '../../../../styles/index' as *

.coupon
    background: $color-bg-white
    padding: 20px
    border-radius: $radius-8
    box-shadow: 0 4px 10px rgba(0,0,0,0.05)
    .header
        font-weight: $font-weight-semibold
        margin-bottom: 10px
        h3
            font-size: $font-size-18
            fa-icon
                color: $color-primary
    .applied
        display: flex
        justify-content: space-between
        background: $color-bg-green-overlay
        border: $border-width-1 $border-style-solid $color-success
        padding: 10px
        border-radius: $radius-8

        .code
            color: $color-success
            font-size: $font-size-16
            font-weight: $font-weight-semibold

        .desc
            font-size: $font-size-12
            font-weight: $font-weight-medium
            color: $color-success

        button
            color: $color-error
            font-size: $font-size-14
            font-weight: $font-weight-semibold
            border: $border-style-none
            background: transparent
            cursor: pointer

    .input
        display: flex
        gap: 10px
        margin-bottom: 10px

        input
            flex: 1
            padding: 8px
            border-radius: $radius-4
            border: $border-width-1 $border-style-solid $color-border
            font-size: $font-size-14
            background-color: #f0f0f0
            &:focus
                outline: none
                border-color: $color-text-muted

        button
            cursor: pointer
            background: $color-primary
            color: $color-bg-white
            padding: 8px 12px
            border: $border-style-none
            border-radius: $radius-4

    .toggle
        color: $color-primary
        font-size: $font-size-14
        font-weight: $font-weight-semibold
        border: $border-style-none
        background: transparent
        cursor: pointer

    .list
        max-height: 380px
        overflow-y: scroll
        margin-top: 10px
        display: flex
        flex-direction: column
        gap: 10px
        .item
            display: flex
            justify-content: space-between
            border: $border-width-1 $border-style-solid #eee
            padding: 10px
            border-radius: $radius-8

            &.disabled
                opacity: 0.5

            .code
                font-size: $font-size-16
                font-weight: $font-weight-semibold

            .desc
                font-size: $font-size-12
                font-weight: $font-weight-medium
                color: $color-text-secondary

            .warn
                font-size: $font-size-12
                color: $color-error
            button
                color: $color-primary
                font-size: $font-size-14
                font-weight: $font-weight-semibold
                border: $border-style-none
                background: transparent
                cursor: pointer
