@use '../../../../styles/index' as *

.breadcrumb
    max-width: 1200px
    margin: 0 auto
    font-size: $font-size-14
    color: $color-text-muted
    padding:$space-16$space-16

    a
        color: $color-error-bright
        text-decoration: none

        &:hover
            text-decoration: underline
