<!-- Filter bar -->
<app-filter-bar [filters]="filters()" (filterClicked)="openFilters()" (removeFilter)="removeFilter($event)"
    (vegChanged)="onVegChanged($event)" (sortChanged)="onSortChanged($event)" />


<!-- Filtered restaurants -->
@if (hasFilters()) {

@if (filterLoading()) {

<app-restaurant-list-skeleton />

} @else {

<app-restaurant-list [restaurants]="filteredRestaurants()" [city]="selectedLocation()?.city ?? ''" [filters]="filters()"
    mode="filtered" />

}

}


@if(!hasFilters()){

<!-- Ads -->
@if (loading()) {

<app-ads-carousel-skeleton />

} @else {

<app-ads-carousel />

}
}


<!-- Categories -->
@if (loading()) {

<app-categories-skeleton />

} @else {

<app-categories (categorySelected)="onCategorySelected($event)" />

}


<!-- Location-based restaurants -->
@if (loading()) {

<app-restaurant-list-skeleton />

} @else {

<app-restaurant-list [restaurants]="restaurants()" [city]="selectedLocation()?.city ?? ''" [filters]="filters()" />

}


<!-- Explore / End -->
@if (!loading()) {

@if (hasFilters()) {

<div class="explore-section">

    <button type="button" class="explore-button" (click)="exploreRestaurants()">
        Explore Restaurants
    </button>

</div>

} @else {

<div class="end-of-results">

    <div class="content">

        <fa-icon [icon]="faUtensils"></fa-icon>

        <p class="title">
            You've reached the end
        </p>

        <p class="subtitle">
            No more restaurants to show.

            <span class="cta">
                That's all we've got in your area
            </span>
        </p>

    </div>

</div>

}

}


<!-- Filter modal -->
@if (showFilterModal()) {

<app-modal size="lg">

    <app-filter-modal [filters]="filters()" (close)="closeFilters()" (applyFilters)="applyFilters($event)" />

</app-modal>

}