@use '../../../styles/_index' as *

.end-of-results
    margin-bottom: 40px
    display: flex
    align-items: center
    justify-content: center

    .content
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        gap: 12px

        fa-icon
            font-size: $font-size-64
            color: $color-text-muted

        .title
            font-size: $font-size-32
            font-weight: $font-weight-semibold
            color: $color-primary

        .subtitle
            font-size: $font-size-16
            color: $color-text-secondary
            .cta
                font-weight: $font-weight-semibold
                color: $color-primary
                cursor: pointer
                &:hover
                    text-decoration: underline
