<app-filter-bar [filters]="filters()" (filterClicked)="openFilters()" (removeFilter)="removeFilter($event)"
    (vegChanged)="onVegChanged($event)" (sortChanged)="onSortChanged($event)" />

@if (loading()) {

@if (hasFilters()) {

<!-- Filtered state -->
<app-restaurant-list-skeleton />

} @else {

<!-- Initial state -->
<app-ads-carousel-skeleton />

<app-categories-skeleton />

<app-restaurant-list-skeleton />

}

} @else {


@if(!hasFilters()) {

<app-ads-carousel />

<app-categories (categorySelected)=" onCategorySelected($event)" />

}

<app-restaurant-list [restaurants]="restaurants()" [city]="selectedLocation()?.city ?? ''" [filters]="filters()" />

<div class="end-of-results">

    <div class="content">

        <fa-icon [icon]="faUtensils"></fa-icon>

        <p class="title">
            You've reached the end
        </p>

        <p class="subtitle">
            No more restaurants to show.

            <span class="cta">
                That's all we've got in your area
            </span>
        </p>

    </div>

</div>

}

@if (showFilterModal()) {

<app-modal size="lg">

    <app-filter-modal [filters]="filters()" (close)="closeFilters()" (applyFilters)="applyFilters($event)" />

</app-modal>

}